In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to change the path if needed.)
vine_table_load = "vine_table.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
df = pd.read_csv(vine_table_load)

In [3]:
df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EFW2STIYIY0I,1,2,2,N,Y
1,R12NR0R5A9F7FT,5,0,0,N,Y
2,R1LSH74R9XAP59,2,0,1,N,Y
3,R1QXUNTF76K7L6,2,0,0,N,Y
4,R2F7DR75PS8NKT,5,0,0,N,Y
5,R2C1DJSCC8UFS6,3,0,0,N,Y
6,R1AXGS1W4YFXMX,1,0,2,N,Y
7,R1XU1B93402SYJ,1,1,1,N,Y
8,R2U432NB3OPVR0,5,0,0,N,Y
9,R3R6FIMIOQ5SP9,5,0,0,N,Y
10,R12TX6V09C9QNQ,5,0,0,N,Y
11,R33UCII6YKUMKV,3,2,2,N,Y
12,RZKDAB9TGO053,1,0,0,N,Y
13,R2EMN2EEDN73ZA,4,0,0,N,Y
14,RU9LHN1NJDVOI,5,0,0,N,Y
15,R19910SO17BQUE,5,0,0,N,Y
16,R32N10BW8MH847,4,2,4,N,Y
17,R2DNM85DH7FGK,5,0,2,N,Y
18,R2G9RFFW051RWY,5,0,0,N,Y
19,R26CC1STPSUHBS,1,27,39,N,N

In [4]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where 
# the total_votes count is equal to or greater than 20 to pick reviews that are more 
# likely to be helpful and to avoid having division by zero errors later on.
df1 = df[(df.total_votes >= 20)]
df1.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y
580,R1VDCSJE4CJJIR,1,88,97,N,Y
753,R2PZMSDKOO1Q6W,1,29,43,N,Y
881,R39OOYN0DOLINK,3,91,111,N,N
905,R1PLNHJZ8BKIBG,1,44,46,N,Y
953,R14G4YQXL17REH,1,4,28,N,N
1016,R3UTVKJF44E0R6,1,46,69,N,N
1165,R2J71KOOLF9UB,1,5,20,N,Y
1184,R2CAD5FOVMTR2L,2,17,28,N,N
1208,R2SW9V1EDQH6O7,5,27,29,N,N
1402,R3SI1TZD809Y0T,5,24,24,N,Y
1461,R23WY4HVMD8SY3,1,7,24,N,N
1503,R2V0VLBRWCMX3I,1,563,601,N,N
1525,R34R79B2P5DJD,1,87,112,N,N
1642,R4D6AQ86X5RQG,1,22,26,N,N
1646,R1BSZ4PB99TN8D,1,61,90,N,N

In [5]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame 
# or table to retrieve all the rows where the number of helpful_votes divided by 
# total_votes is equal to or greater than 50%.
df2 = df1[df1.helpful_votes/df1.total_votes >=0.5 ]
df2.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y
580,R1VDCSJE4CJJIR,1,88,97,N,Y
753,R2PZMSDKOO1Q6W,1,29,43,N,Y
881,R39OOYN0DOLINK,3,91,111,N,N
905,R1PLNHJZ8BKIBG,1,44,46,N,Y
1016,R3UTVKJF44E0R6,1,46,69,N,N
1184,R2CAD5FOVMTR2L,2,17,28,N,N
1208,R2SW9V1EDQH6O7,5,27,29,N,N
1402,R3SI1TZD809Y0T,5,24,24,N,Y
1503,R2V0VLBRWCMX3I,1,563,601,N,N
1525,R34R79B2P5DJD,1,87,112,N,N
1642,R4D6AQ86X5RQG,1,22,26,N,N
1646,R1BSZ4PB99TN8D,1,61,90,N,N
1660,R1QMF01BDRT2LJ,1,10,20,N,N
1669,R2NBUUW79OYBGT,1,57,58,N,Y
1722,R24OEFISZWTBDJ,4,17,25,N,N

In [6]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame 
# or table that retrieves all the rows where a review was written as part of the 
# Vine program (paid), vine == 'Y'.
df3 = df2[(df2.vine == 'Y')]
df3.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
11313,R28EIR3Z6RRUNN,2,50,60,Y,N
19233,R2YO2RESXZEWOF,4,24,25,Y,N
30450,R8GEE2EW3D6S9,3,49,54,Y,N
32929,R33W9V1MX6WKPS,4,47,53,Y,N
35028,R24E3W2ZRIFG8C,5,91,93,Y,N
42077,R2OR3KIFFG4YWT,4,75,81,Y,Y
46101,R1RLJAAFOA5MMS,2,25,27,Y,N
49579,RVYHD7IZ7W99B,1,78,78,Y,N
49705,R12EV95D2T56HA,5,37,37,Y,N
51456,R296NVZGV4VZLP,5,41,44,Y,N
51650,RLJPGO3YMKSI6,5,24,27,Y,N
51966,R33KYYMINUELQA,2,23,23,Y,N
52576,RNNE1AAL4XU7W,4,60,64,Y,N
52964,RC38M96UFDOOI,3,78,87,Y,N
53178,RR9F2YTECN67C,5,35,37,Y,N
55042,R1HB8SSCA97V9U,5,100,105,Y,N
57342,RX4E94KN6K16U,5,56,59,Y,N
57682,R1XLGO18EB3KZA,5,25,25,Y,N
58412,R1R9XER49EMT2N,2,34,35,Y,N
59580,R7ST49NTUXZLV,5,23,25,Y,N

In [7]:
df4 = df2[(df2.vine == 'N')]
df4.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y
580,R1VDCSJE4CJJIR,1,88,97,N,Y
753,R2PZMSDKOO1Q6W,1,29,43,N,Y
881,R39OOYN0DOLINK,3,91,111,N,N
905,R1PLNHJZ8BKIBG,1,44,46,N,Y
1016,R3UTVKJF44E0R6,1,46,69,N,N
1184,R2CAD5FOVMTR2L,2,17,28,N,N
1208,R2SW9V1EDQH6O7,5,27,29,N,N
1402,R3SI1TZD809Y0T,5,24,24,N,Y
1503,R2V0VLBRWCMX3I,1,563,601,N,N
1525,R34R79B2P5DJD,1,87,112,N,N
1642,R4D6AQ86X5RQG,1,22,26,N,N
1646,R1BSZ4PB99TN8D,1,61,90,N,N
1660,R1QMF01BDRT2LJ,1,10,20,N,N
1669,R2NBUUW79OYBGT,1,57,58,N,Y
1722,R24OEFISZWTBDJ,4,17,25,N,N

In [8]:
# Total number of review
total = df.review_id.count()
total

341931

In [9]:
# the number of 5-star reviews
five_stars = df.review_id[df.star_rating == 5].count()
five_stars

153947

In [10]:
# the percentage of 5-star reviews for paid
five_stars_paid_review = df3.review_id[df3.star_rating == 5].count()
five_stars_paid_percentage = (five_stars_paid_review / total) * 100
five_stars_paid_percentage

0.02983057985383016

In [11]:
five_stars_paid_review

102

In [12]:
# the percentage of 5-star reviews for unpaid
five_stars_unpaid_review = df4.review_id[df4.star_rating == 5].count()
five_stars_unpaid_percentage = (five_stars_unpaid_review / total) * 100
five_stars_unpaid_percentage

1.5073216526141238

In [13]:
five_stars_unpaid_review

5154